@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
}


:root {
    --primary-color: black;
    --background-color: white;
    --dark-gray: rgb(117, 120, 124); 
    --off-white: #D1D5DB;
    --light-grey: #DCDCDC;
} 


body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 0rem 22rem;
  margin-top: 1.5rem;
}

.container-center {
  max-width: 700px;
  margin: auto;
}


.navigation {
  color: var(--primary-color);
  margin-top: 1rem;
  background-color: var(--background-color);
  text-align: right;
}


.navigation #cursor {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.navigation .nav-pills {
  text-align: right;
  display: inline;
  font-size: 1.2rem;
}

.navigation .nav-pills .link{
  color: var(--primary-color);
}


.nav-head {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 6rem;
  font-size: xx-large;
  /* display: inline; */
  text-decoration: none;
  text-align: left;
}

.nav-head .link {
  color: var(--primary-color);
}

.navigation .list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
  text-align: right;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
  text-align: right;
}

.nav-pills {
  text-align: right;
  padding-right: 3.5rem;
}

.link {
  text-decoration: none;
}

.secondary-link {
   color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.2rem 0.5rem;
}

.hero {
  padding: 2rem;
  padding-top: 1.3rem;

}

.hero .hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-head {
    text-align: center;
    color: solid var(--dark-gray);
    font-size: 1.2rem;
    /* max-width: 100%;
    width: 450px;
    margin: auto; */
}

.container {
  padding: 0rem 1rem;
}

.section .container {
  padding: 3rem;
}

.section h1 {
  text-align: center;

}

.ow {
  background-color: var(--light-grey);
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  padding: 0.3rem 1rem;
  /* display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem; */
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 0.3rem 1rem;
}


/* footers */

.footer {
  text-align: center;
}

.social-links {
  padding: 1rem;
}

.social {
  padding: 1rem 1.5rem;
  width: 70px;
}

.social-links a:hover{
  background-color: var(--primary-color);
  border: 1px var(--primary-color);
}


